body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

div {
    box-sizing: border-box;
}

.app {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0 auto;
}

.app-container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 30px 0;
    position: relative;
}

.header {
    border-radius: 0;
    min-width: 140%;
    margin-left: -20%;
    height: 130px;
    border-bottom-left-radius: 70% 100%;
    border-bottom-right-radius: 70% 100%;
    margin-bottom: -40px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(229, 209, 135);
    background: linear-gradient(45deg, rgb(79, 156, 187), rgb(3, 142, 140));
}

.header-box {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.header-box-logo {
    width: 85px;
    height: 85px;
    background-image: url(../images/medisilogo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.header-box-name {
    max-width: 60%;
    font-family: "Duru Sans",sans-serif;
    padding-left: 8px;
    font-size: 24px;
}

.header-carousel {
    display: block;
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
}

.header-carousel-card {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    margin-bottom: 16px;
}
.header-carousel-card-item{
    display: inline-block;
    position: relative;
    width: 75%;
    margin: 10px;
    overflow: hidden;
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);
    border-radius: 15px;
}

.header-carousel-card-item-image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50%;
    padding-bottom: 50%;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top
}

.header-carousel-card-item-title {
    text-align: left;
    width: 100%;
    height: 80px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-size: 26px;
    font-family: "Fira Sans",sans-serif;
    line-height: 1;
    white-space: pre-line;
    padding: 10px;
    color: #fff!important;
    position: absolute;
    bottom: 0;
}
